/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
    /*font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;*/
    
    font: normal normal normal 1.125rem/160% 'PT Sans', sans-serif;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;*/

    margin: 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* ===== Numéro 3a ===== */
header .wrapper {
display: flex;
align-items: center;
justify-content: space-between;

}

header {
    /*padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;*/


    padding: 20px 0;
}

/* ===== Numéro 3b ===== */
.logo {
display: flex;
align-items: center;
gap: 20px;
font: normal normal 700 2.5rem/100% 'Nunito', sans-serif;
text-decoration: none;
color: #444;
}

/* ===== Numéro 3c ===== */

.menu ul {
    /*margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;

    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;*/

    margin: 0;
    padding: 0;

    display: flex;
    gap: 30px;

    list-style: none;

}


/* ===== Numéro 3d ===== */

.menu a {
    /*color: black;
    font-weight: bold;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    */

    text-transform: uppercase;
    text-decoration: none;

    font: normal normal bold 0.875/100% 'PT Sans', sans-serif;
    color: #000;
    padding: 5px 10px;

    border: 2px solid transparent;
}


/* ===== Numéro 3e ===== */

.menu a:hover {
    /*border-top-color: #000;
    border-right-color: black;
    border-bottom-color: #000;
    border-left-color: black;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;*/

    border: 2px solid #000;
}


/* ===== Numéro 3f ===== */

/* Nothing to see here */

/* ===== Numéro 4a ===== */

.hero {
    /*background-image: url('../images/hero.jpg');
    background-position: center right;
    background-repeat: no-repeat;*/

    background: url('../images/hero.jpg')  no-repeat center right/100%;
}


/* ===== Numéro 4b ===== */
.hero .wrapper {
    display: flex;
    align-items: baseline;
    flex-direction: column ;
    min-height: 650px;
    justify-content: space-evenly;
}

/* ===== Numéro 4c ===== */
.hero .contenu {
    max-width: 50%;
    color: #fff;
}

/* ===== Numéro 4d ===== */

.hero h1 {
    /*font-weight: 100;
    font-size: 100px;
    line-height: 100%;

    font-family: Nunito, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    color: #F2545B;*/

    font: normal normal 100 6.25rem/100% 'Nunito', sans-serif;
    margin: 0 0 20px;
    color: #F2545B;
}

/* ===== Numéro 5a ===== */

.athletes {
    /*padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;*/

    padding: 100px 0;
}

.athletes h2 {
    /*font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;*/

    font: normal normal bold ;
    margin: 0 0 50px 3.125rem/100% 'Nunito', sans-serif;
    letter-spacing: 0.05em;
}


/* ===== Numéro 5b ===== */

.athletes p {
    /*margin-right: 0;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left: 0;*/

    margin: 0 0 50px;
}


/* ===== Numéro 5c ===== */



/* ===== Numéro 5d ===== */
.athletes-photos {
    display: grid;
    grid-template-columns: repeat ( 3, 1fr);
    gap: 30px;
}

/* ===== Numéro 5e ===== */
.athletes-photos img {
    max-width: 100%;
}

/* ===== Numéro 5f ===== */
.athlete1 {
grid-row: span 2;
grid-column: span 2;
}


/* ===== Numéro 6a ===== */
footer {

}

footer .wrapper {

}

/* ===== Numéro 6b ===== */

.menu-social {
    /*margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;*/
    margin: 0;
    padding: 0;
}



/* ===== Numéro 6c ===== */

footer .wrapper .menu-social a {

}

/* ===== Numéro 6d ===== */
/*
.menu-social a:hover {
    background: gray;
}
*/